/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul,
li {
	list-style: none;
}

nav a {
	text-decoration: none;
	color: inherit;
}

blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: "Work Sans";
	font-size: 14px;
	background-color: #fffef8;
}

.grid {
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100vh;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
section {
	margin: 50px auto;
	max-width: 75%;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: "Syne";
	font-size: 22px;
	font-weight: 800;
	color: #b1663c;
}

h1 > span {
	font-family: "Work Sans";
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: "Syne";
	font-weight: 700;
	font-size: 30px;
	color: #1d6154;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

.selected {
	font-weight: bold;
}

li:hover {
	color: #b1663c;
}
#introduction {
	display: flex;
	align-items: center;
	margin-bottom: 100px;
}
#introduction figure {
	flex: 1;
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2,
#portfolio .portfolio-title h2 {
	text-align: center;
	margin-bottom: 1em;
}

.filters {
	margin: auto;
	display: flex;
	justify-content: center;
	width: 585px;
	margin-bottom: 2em;
}
.filters button {
	font-family: "Syne";
	font-size: 16px;
	font-weight: 700;
	color: #1d6154;
	background-color: white;
	margin: 2em auto;
	text-align: center;
	border: #1d6154 1px solid;
	border-radius: 60px;
	padding: 0.5em 1em;
}
.filters button:hover {
	color: white;
	background-color: #1d6154;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}
.forms {
	width: 30%;
	margin: auto;
}
.forms > * {
	text-align: center;
}
.forms h2 {
	margin-bottom: 20px;
}
.forms form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

.forms input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.forms label {
	margin: 2em 0 1em 0;
}
.forms textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.forms a {
	color: inherit;
	text-align: center;
}

input[type="submit"] {
	font-family: "Syne";
	font-weight: 700;
	margin: 3em auto;
	padding: 0.5rem 1rem;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	display: flex;
	justify-content: center;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

/* ----- Edition mode-----*/
.edition {
	background-color: black;
	color: white;
	font-size: 16px;
	height: 60px;
	display: flex;
	gap: 15px;
	align-items: center;
	justify-content: center;
}

.portfolio-title {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 25px;
}

.project-modif {
	display: flex;
	gap: 8px;
	margin-bottom: 2.3em;
	cursor: pointer;
	z-index: 4;
}

/* ----- modale -----*/
.dialog {
	margin: 50px auto;
	width: 630px;
	height: 688px;
	border: 0px solid transparent;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.dialog h2 {
	text-align: center;
	font-size: 26px;
	font-family: work sans;
	font-weight: 400;
	color: black;
	margin-top: 20px 0;
}

.gallery-mini,
.formAddPhoto {
	display: flex;
	margin: auto;
}

.gallery-mini,
.formAddPhoto .containerCategory {
	padding-bottom: 60px;
	border-bottom: 1px solid #b3b3b3;
}

.gallery-mini {
	flex-direction: row;
	justify-content: start;
	gap: 5px;
	width: 400px;
	flex-wrap: wrap;
}
.gallery-mini figure {
	width: calc((100% / 5)-25px);
	position: relative;
}

.gallery-mini figure .trashIcon {
	position: absolute;
	top: 5px;
	right: 5px;
}

.gallery-mini img {
	width: 76px;
	height: 102px;
	object-fit: cover;
}

.trashIcon {
	color: white;
	background-color: black;
	border-radius: 15%;
	font-size: 10px;
	padding: 0.3em;

	cursor: pointer;
}

.headerModal {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.xmark {
	color: black;
	font-size: 16px;
	align-self: flex-end;
	padding: 20px;
}

.formAddPhoto {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	width: 420px;
}
.containerPhoto {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 8px;
	background-color: #e8f1f6;
	height: 169px;
	width: 100%;
}
.containerPhoto .svgPhoto {
	font-size: 76px;
	color: #b9c5cc;
}
.containerPhoto label {
	font-family: work sans;
	font-size: 14px;
	color: #306685;
	font-weight: 500²;
	background-color: #cbd6dc;
	padding: 1em 1.5em;
	border-radius: 60px;
}
.containerPhoto input {
	display: none;
}
.containerPhoto p {
	font-size: 10px;
}
.containerPhoto img {
	height: 100%;
	object-fit: cover;
}

.containerTitleCategory {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	gap: 10px;
}
.inputTitleCategory {
	width: 100%;
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	color: grey;
}
.secondary {
	background-color: #a7a7a7;
	color: white;
}
.primary {
	background-color: #1d6154;
	color: white;
}

.hidden {
	display: none;
}
.show {
	display: flex;
}
